- name: "Drupal 8 - local development [sites/{{ project_name }}.dev/settings.php]"
  template:
    src: "drupal-template--d8--settings.j2"
    dest: "{{ project_local_base_path }}/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/settings.php"
    force: no
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "Drupal 8 - local development [sites/{{ project_name }}.dev/services.yml]"
  template:
    src: "drupal-template--d8--services.j2"
    dest: "{{ project_local_base_path }}/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/services.yml"
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "Drupal 8 - local development [sites/sites.php]"
  template:
    src: "drupal-template--d8--sites.j2"
    dest: "{{ project_local_base_path }}/{{ project_name }}/{{ project_root }}/sites/sites.php"
  when:
    - project_type == "drupal"
    - project_type_version == "d8"
