---

- name: "Drupal 8 - {{ project_name }} - local development [sites/{{ project_name }}.dev] permissions"
  file:
    path: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev"
    mode: u=rwx,g=rwx,o=rx
    force: no
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "Drupal 8 - {{ project_name }} - local development [sites/{{ project_name }}.dev/settings.php]"
  template:
    src: "drupal-template--d8--settings.j2"
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/settings.php"
    mode: u=rw,g=r,o=r
    force: no
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "Drupal 8 - {{ project_name }} - local development [sites/{{ project_name }}.dev/services.yml]"
  template:
    src: "drupal-template--d8--services.j2"
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/services.yml"
    mode: u=rw,g=r,o=r
    force: no
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "Drupal 8 - {{ project_name }} - local development [sites.php]"
  template:
    src: "drupal-template--d8--sites.j2"
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}/{{ project_root }}/sites/sites.php"
    mode: u=rw,g=r,o=r
    force: no
  when:
    - project_type == "drupal"
    - project_type_version == "d8"

- name: "[Drupal 8 - {{ project_name }} - Drupal console site"
  template:
    src: "drupal-template--d8--drupal-console-site.j2"
    dest: "~/.console/sites/{{ project_name }}.yml"
  when:
    - project_type == "drupal"
    - project_type_version == "d8"
