---

- name: Register project username.
  shell: whoami
  register: project_username
  changed_when: false
  always_run: true

- name: Clone the {{ project_name }} project repo.
  git: 
    repo: "{{ item.repo }}"
    dest: ~/src/{{ project_name }}{{ item.dest }}
    force: no
    update: no
  when: project_repo
  with_items: "{{ project_repo }}"

- name: Create nginx site.
  template:
    src: "{{ project_nginx_site_template }}.j2"
    dest: "/usr/local/etc/nginx/sites/{{ project_name }}.dev"
  when: project_nginx_site_template
  notify: Reload nginx sites config.

- name: Reload nginx sites config.
  shell: nginx -s reload
  become: yes
  when: project_nginx_site_template

- name: Drupal site.dev.
  file: 
    path: "~/src/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev"
    state: directory
  when: project_type == "drupal"

- name: Drupal site settings.php.
  template:
    src: "drupal-template--settings.j2"
    dest: "~/src/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/settings.php"
  when: 
    - project_type == "drupal"
    - project_type_version != "d8"

- name: Drupal site settings.php.
  template:
    src: "drupal-template--d8-settings.j2"
    dest: "~/src/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/settings.php"
  when: 
    - project_type == "drupal"
    - project_type_version == "d8"

- name: Drupal site services.yml.
  template:
    src: "drupal-template--d8-services.j2"
    dest: "~/src/{{ project_name }}/{{ project_root }}/sites/{{ project_name }}.dev/services.yml"
  when: 
    - project_type == "drupal"
    - project_type_version == "d8"

- name: Drupal site settings.php.
  copy:
    src: 'files/info.php'
    dest: "~/src/{{ project_name }}/{{ project_root }}/info.php"
  when: project_type == "drupal"

- name: Create drush aliases.
  template:
    src: "{{ project_drush_aliases_template }}.j2"
    dest: "~/.drush/{{ project_name }}.aliases.drushrc.php"
  when: project_drush_aliases_template

- name: Install the Python MySQLB module
  pip:
    name: MySQL-python
    state: present
  become: yes

- name: Database table.
  mysql_db:
    name: "{{ item.name }}"
    login_user: root
    state: present
  with_items: "{{ project_database }}"
  when: project_database