---

- name: "{{ project_name }} - Clone the project repo"
  git:
    repo: "{{ item.repo }}"
    dest: "{{ project_local_base_path }}/{{ project_name }}{{ item.dest }}"
    force: no
    update: no
  when: project_repo and not project_group
  with_items: "{{ project_repo }}"

- name: "{{ project_name }} - Clone the project repo (in a group)"
  git:
    repo: "{{ item.repo }}"
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}{{ item.dest }}"
    force: no
    update: no
  when: project_repo and project_group
  with_items: "{{ project_repo }}"

- name: "{{ project_name }} - Create nginx site"
  template:
    src: "{{ project_nginx_site_template }}.j2"
    dest: "/usr/local/etc/nginx/sites/{{ project_name }}.dev"
  when: project_nginx_site_template
  notify: Reload nginx sites config.

- name: "{{ project_name }} - Reload nginx sites config"
  shell: nginx -s reload
  become: yes
  when: project_nginx_site_template

- name: "{{ project_name }} - Add a copy of info.php"
  copy:
    src: 'files/info.php'
    dest: "{{ project_local_base_path }}/{{ project_name }}/{{ project_root }}/info.php"
  when: (project_type == "drupal") or (project_type == "php")

- name: "{{ project_name }} - Install the Python MySQLB module"
  pip:
    name: MySQL-python
    state: present
  become: yes

- name: "{{ project_name }} - Database table"
  mysql_db:
    name: "{{ item.name }}"
    login_user: root
    state: present
  with_items: "{{ project_database }}"
  when: project_database

- include: drupal.yml
- include: drupal7.yml
- include: drupal8.yml
