---

- name: "{{ project_group }}/{{ project_name }} - Create the group folder"
  file:
    path: "{{ project_local_base_path }}/{{ project_group }}"
    state: directory

- name: "{{ project_name }} - Create folder"
  file:
    path: "{{ item.path }}"
    state: directory
  with_items: "{{ project_folder }}"
  when: project_folder is defined

- name: "{{ project_name }} - Clone repository"
  git:
    repo: "{{ item.repo }}"
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}{{ item.dest }}"
    force: no
    update: no
  when: project_repo is defined
  with_items: "{{ project_repo }}"


- name: "{{ project_name }} - Create nginx site config"
  template:
    src: "{{ project_nginx_site_template }}.j2"
    dest: "/usr/local/etc/nginx/sites/{{ project_name }}.dev"
  when: project_nginx_site_template is defined

- name: "{{ project_name }} - Reload nginx sites config"
  shell: nginx -s reload
  become: yes
  when: project_nginx_site_template is defined

- name: "{{ project_name }} - Add a copy of info.php"
  copy:
    src: 'files/info.php'
    dest: "{{ project_local_base_path }}/{{ project_group }}/{{ project_name }}/{{ project_root }}/info.php"
  when: (project_type == "drupal") or (project_type == "php")

- name: "{{ project_name }} - Install the Python MySQLB module"
  pip:
    name: MySQL-python
    state: present
  become: yes

- name: "{{ project_name }} - Create database"
  mysql_db:
    name: "{{ item.name }}"
    login_user: root
    state: present
  with_items: "{{ project_database }}"
  when: project_database is defined

# project type specific tasks

- include: drupal.yml
- include: drupal7.yml
- include: drupal8.yml

# when everything else is in place, add symlinks if any

- name: "{{ project_name }} - Create symlinks"
  file:
    src: "{{ project_local_base_path }}/{{ item.origin }}"
    dest: "{{ item.link }}"
    state: link
  with_items: "{{ project_symlink }}"
  when: project_symlink is defined
