<?php

$databases['default']['default'] = array(
  'driver' => 'mysql',
  'database' => '{{ project_name }}_development',
  'username' => 'root',
  'password' => '',
  'host' => '127.0.0.1',
  'port' => '3306',
);

$config_directories = array();

$settings['hash_salt'] = '';

$settings['update_free_access'] = FALSE;

$settings['file_chmod_directory'] = 0775;
$settings['file_chmod_file'] = 0664;

$settings['container_yamls'][] = __DIR__ . '/services.yml';
