<?php

$aliases['local'] = array(
  'root' => '{{ project_local_base_path | expanduser }}/{{ project_group }}/{{ project_name }}/{{ project_root }}',
  'site' => '{{ project_name }}.local',
  'uri' => '{{ project_name }}.local',
);
