<?php

$aliases['local'] = array(
  'root' => '/Users/{{ project_username.stdout }}/src/{{ project_name }}/{{ project_root }}',
  'site' => '{{ project_name }}.dev',
  'uri' => '{{ project_name }}.dev',
);