<?php

$aliases['local'] = array(
  'root' => '{{ project_local_base_path | expanduser }}/{{ project_name }}/{{ project_root }}',
  'site' => '{{ project_name }}.dev',
  'uri' => '{{ project_name }}.dev',
);
